header,
section h2, 
section h3,
form button {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

body,
input, 
textarea {
    font-family: "Roboto";
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Main section */
#main {
    text-align: center;
    padding: 50px 0;
}

#main img {
    max-width: 100%;
    height: auto;
}

.pro-work h1 {
    margin-top: 20px;
    padding: 16px;
    font-size: 36px;
}

.pro-work h1 span {
    color: #800475;
}

/* About section */
#about {
    padding: 50px 0;
    align-items: center;
    text-align: center;
}

#about .container h2  {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

#about p {
    padding: 16px;
}

/* Contact section */
#contact {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-methods div {
    width: 45%;
}

.contact-methods div form input,
.contact-methods div form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-methods div form button {
    background-color: #800475;
    color: #fff;
    border-radius: 5%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-methods form button:hover {
    background-color: #3f5eb4;
}

.contact-methods input:focus, textarea:focus {
   outline-color: #6c799c;
}

form textarea {
    resize: none;
    height: 180px;
}

.icon {   
    color: #898686;
}

/* Footer */
footer {
    background-color: #34063b;
    color: #ffff;
    text-align: center;
    padding: 20px 0;
}




